*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

background:
linear-gradient(
135deg,
#0f172a,
#1e293b
);

color:white;

overflow:hidden;

}

.contenedor{

text-align:center;

padding:50px;

border-radius:30px;

background:
rgba(255,255,255,0.08);

backdrop-filter:
blur(20px);

border:
2px solid
rgba(0,255,255,0.4);

box-shadow:
0 0 20px cyan,
0 0 50px cyan;

}

h1{

font-size:55px;

margin-bottom:20px;

}

.estrellas{

font-size:50px;

animation:
brillar 1s infinite alternate;

margin-bottom:20px;

}

@keyframes brillar{

from{

transform:scale(1);

}

to{

transform:scale(1.2);

}

}

#avatarUsuario{

width:140px;
height:140px;

border-radius:50%;

border:5px solid cyan;

object-fit:cover;

margin:20px;

}

#nombreUsuario{

font-size:35px;

margin-bottom:15px;

}

#puntajeFinal{

font-size:30px;

margin-bottom:15px;

color:gold;

}

#medallaFinal{

font-size:40px;

margin-bottom:30px;

}

.boton{

display:inline-block;

padding:18px 40px;

border-radius:20px;

text-decoration:none;

color:white;

font-size:22px;

font-weight:bold;

background:
linear-gradient(
45deg,
#00e5ff,
#7c4dff
);

box-shadow:
0 0 20px cyan;

}